<article class="listing">
  <a
    onclick={{action "toggleImageSize"}}
    class="image {{if this.isWide "wide"}}"
    role="button"
  >
    <img src={{this.flower.image}} alt="">
    <small>Klicka för större bild</small>
  </a>
  <div class="details">
    <h3>{{this.flower.title}}</h3>
    <div class="detail description">
      {{this.flower.description}}
    </div>
  </div>
</article>